datasets/
candidate_ratio_histogram/
similarity*/
candidates*
lowest_sample/
LongCLIP-B/
cadidate*/
imgs/
*.pyc
__pycache__/
sim_score*/
best_sim_score/
tsne_activitynet*/
tsne_global_activitynet*/
clip_feature/
*plot*/
QVHighlights*/
others/